<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <img ngSrc="../assets/profile.svg" class="card-image rounded-circle" alt="" width="200" height="200" priority>
            <h4 class="card-title">Mohammad Inshal Pinjari</h4>
            <p class="card-text">~ Angular Developer</p>
            <p class="card-text">~ Software Developer</p>
            <p class="card-text">~UI/UX Designer</p> 
            <p class="card-text">~BE Computer Engineer</p>
            <div class="media">
               <a type="button" href="mailto:mdinshal16@gamil.com" class="btn ">
                <i class="bi bi-envelope-at-fill"></i>
               </a>
            <a type="button" href="https://github.com/inshal07" target="blank" class="btn ">
                <i class="bi bi-github"></i>
            </a>
            <a type="button" href="https://github.com/inshal-dev" target="blank" class="btn ">
                <i class="bi bi-github"></i>
            </a>
            <a type="button" href="https://linkedin.com/in/mohammad-inshal-p" target="blank" class="btn " >
                <i class="bi bi-linkedin"></i>
            </a>
            <a type="button" href="https://stackoverflow.com/users/13458013/inshalp" target="blank" class="btn " >
                <i class="bi bi-stack-overflow"></i>
            </a>
            </div>
        </div>
        <div class="card-footer">
          <app-nav-footer></app-nav-footer>
        </div>
    </div>
</div>
