.btn{
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.router-link-active{
  margin: 0;
  color: #000;
  background-color:#ddf7ff;
  border-radius: 50px;
}


.loop{

  .navs{
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
     border-radius: 50px;
     background-color: #20a2f5;
     background-image: linear-gradient(90deg, #029dfe 10%, #006ad8 100%);

  }

}

.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col{
  display: inline-block;
  float: none;
}
@media screen {
  .desktop-nav{
    display: flex;
  }
  .mobile-nav{
    display: none;
  }
}
@media (max-width: 1300px) {
  .desktop-nav{
    display: flex;
  }
  .mobile-nav{
    display: none;
  }
}
@media (max-width:1200px){
  .desktop-nav{
    display: flex;
  }
  .mobile-nav{
    display: none;
  }
}
@media screen and (max-width:900px){
  .mobile-nav{
    display: none;
  }
}
@media screen and (max-width:768px){
  .mobile-nav{
    display: none;
  }
  .loop{
    margin: 2px auto;
    width: fit-content;
    border-radius: 50px;
    background-color:#00c3ff;
    .btn{
      margin:2px;
      font-size: medium;
    }
   }
}

@media screen and (max-width:500px){
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: flex;
    padding: 2px;
  }

  .loop{

    border-radius: 50px;
    background-color:#00c3ff;
    .btn{
      margin:1px;
      font-size: smaller;
    }
   }
}
